export GIT_PRIMARY_NAME=""
export GIT_PRIMARY_EMAIL=""
export GIT_PRIMARY_SSH_KEY="$HOME/.ssh/primaryKeyPath"

export GIT_SECONDARY_NAME=""
export GIT_SECONDARY_EMAIL=""
export GIT_SECONDARY_SSH_KEY="$HOME/.ssh/secondaryKeyPath"